# Checkpoint Three: Cleaning Data

Now you are ready to clean your data. Before starting coding, provide the link to your dataset below.

My dataset:https://www.kaggle.com/datasets/dhanasekarjaisankar/correlation-between-posture-personality-trait

Import the necessary libraries and create your dataframe(s).

In [85]:
import pandas as pd
import numpy as np
df = pd.read_csv('Myers Briggs Table_S1.csv',index_col='S No')

## Missing Data

Test your dataset for missing data and handle it as needed. Make notes in the form of code comments as to your thought process.

In [86]:
#checking for missing/null data using pandas functions
df.notna()
df.info()
df.isnull().sum()

#no missing data in any column, all have expected 97 entries

<class 'pandas.core.frame.DataFrame'>
Int64Index: 97 entries, 1 to 97
Data columns (total 19 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   AGE             97 non-null     int64
 1   HEIGHT          97 non-null     int64
 2   WEIGHT          97 non-null     int64
 3   SEX             97 non-null     object
 4   ACTIVITY LEVEL  97 non-null     object
 5   PAIN 1          97 non-null     float64
 6   PAIN 2          97 non-null     float64
 7   PAIN 3          97 non-null     float64
 8   PAIN 4          97 non-null     float64
 9   MBTI            97 non-null     object
 10  E               97 non-null     int64
 11  I               97 non-null     int64
 12  S               97 non-null     int64
 13  N               97 non-null     int64
 14  T               97 non-null     int64
 15  F               97 non-null     int64
 16  J               97 non-null     int64
 17  P               97 non-null     int64
 18  POSTURE         97 non-null     object
dtypes: float64(4), int64(11), object(4)
memory usage: 15.2+ KB

AGE               0
HEIGHT            0
WEIGHT            0
SEX               0
ACTIVITY LEVEL    0
PAIN 1            0
PAIN 2            0
PAIN 3            0
PAIN 4            0
MBTI              0
E                 0
I                 0
S                 0
N                 0
T                 0
F                 0
J                 0
P                 0
POSTURE           0
dtype: int64

## Irregular Data

Detect outliers in your dataset and handle them as needed. Use code comments to make notes about your thought process.

In [87]:
#getting a summary of the numerical statistics
df.describe()
# The pain scale data consisted of a number between 0(low) to 10 (high), no concerns regarding 0.000...

,AGE,HEIGHT,WEIGHT,PAIN 1,PAIN 2,PAIN 3,PAIN 4,E,I,S,N,T,F,J,P
count,97.000000,97.000000,97.00000,97.000000,97.000000,97.000000,97.000000,97.000000,97.000000,97.000000,97.000000,97.000000,97.000000,97.000000,97.000000
mean,43.855670,65.731959,159.43299,2.139175,3.747423,1.943299,2.530928,12.690722,8.288660,15.134021,11.041237,10.505155,13.443299,10.319588,11.680412
std,16.776093,3.737522,36.19591,2.572635,3.191071,2.587909,3.111483,5.717956,5.697146,4.833970,4.732242,5.332924,5.297344,5.727395,5.711003
min,11.000000,58.000000,68.00000,0.000000,0.000000,0.000000,0.000000,2.000000,0.000000,5.000000,1.000000,0.000000,2.000000,0.000000,2.000000
25%,30.000000,63.000000,135.00000,0.000000,0.000000,0.000000,0.000000,8.000000,3.000000,12.000000,7.000000,6.000000,10.000000,5.000000,6.000000
50%,45.000000,66.000000,157.00000,1.000000,3.000000,0.500000,0.000000,13.000000,8.000000,15.000000,11.000000,11.000000,13.000000,11.000000,11.000000
75%,56.000000,68.000000,183.00000,4.000000,7.000000,3.500000,5.000000,18.000000,13.000000,19.000000,14.000000,14.000000,18.000000,16.000000,17.000000
max,82.000000,74.000000,263.00000,9.500000,10.000000,10.000000,10.000000,21.000000,19.000000,25.000000,21.000000,22.000000,24.000000,20.000000,22.000000

## Unnecessary Data

Look for the different types of unnecessary data in your dataset and address it as needed. Make sure to use code comments to illustrate your thought process.

In [88]:
#activity level column looks to be unnecessary but I will leave it for now

## Inconsistent Data

Check for inconsistent data and address any that arises. As always, use code comments to illustrate your thought process.

In [92]:
# #checking for any inconsistencies 
# sort_df = df.sort_values(by=['AGE', 'HEIGHT', 'WEIGHT'], ascending=True, inplace=False)
# group_df = sort_df.groupby('SEX')
# group_df.sample(10)

#created a new df to view numerical data for personality trait columns
new_df = df[['MBTI', 'E', 'I', 'S', 'N', 'T', 'F', 'J', 'P']]
new_df

      MBTI   E   I   S   N   T   F   J   P
S No
1     ESFJ  18   3  17   9   9  13  18   4
2     ISTJ   6  15  14  12  21   3  13   9
3     ESTJ  15   6  16  10  15   9  12  10
4     ISTJ   6  15  21   5  13  11  19   3
5     ENFJ  14   7  20   6   9  15  16   6
...    ...  ..  ..  ..  ..  ..  ..  ..  ..
93    ESTP  19   2  22   4  19   5   2  20
94    ESFJ  11  10  17   9   6  18  13   9
95    ENFP  12   9   9  17   6  18   2  20
96    ESFJ  11  10  22  14   8  16  14   8
97    ENFP  12   9   9  17   6  18   2  20

[97 rows x 9 columns]

## Summarize Your Results

Make note of your answers to the following questions.

1. Did you find all four types of dirty data in your dataset? No
2. Did the process of cleaning your data give you new insights into your dataset? No
3. Is there anything you would like to make note of when it comes to manipulating the data and making visualizations?The dataset was mostly clean, "im looking forward to the next steps.